In [1]:
import pandas
import random
from tqdm import tqdm

In [2]:
data = pandas.read_csv("data32.csv")

In [3]:
data.head(10)

,OrderIndex,CardNo,PeoNo,Date,Money,CardCount,Type,RoomNo,RoomType
0,117342773,181316,20181316,2022/4/20 20:17,380.0,818,3,304,商务大床房
1,117344766,181316,20181316,2022/4/20 8:47,380.0,814,3,309,商务大床房
2,117346258,181316,20181316,2022/4/22 7:27,165.0,820,1,402,标准单人间
3,117308066,181317,20181317,2022/4/21 7:46,380.0,211,3,308,商务大床房
4,117309001,181317,20181317,2022/4/19 22:31,40.0,209,5,106,小时房
5,117340105,181317,20181317,2022/4/20 12:14,165.0,210,1,304,标准单人间
6,117340374,181317,20181317,2022/4/21 17:17,380.0,212,3,309,商务大床房
7,117340515,181317,20181317,2022/4/22 11:48,80.0,213,0,103,特价房(无窗)
8,117305210,181318,20181318,2022/4/21 11:58,215.0,676,2,203,标准双人间
9,117331420,181318,20181318,2022/4/20 12:05,380.0,673,3,208,商务大床房

In [7]:
data.groupby(data["PeoNo"])["Money"].sum()

pandas.core.series.Series

In [ ]:
data.groupby(data["PeoNo"])["Money"].sum()

In [9]:
data["PeoNo"][]

0         20181316
1         20181316
2         20181316
3         20181317
4         20181317
            ...
519362    20182706
519363    20182706
519364    20182706
519365    20182706
519366    20182707
Name: PeoNo, Length: 519367, dtype: int64